
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Kullanıcı Ekleme Sayfası</h2>
<br />
<form method="post">
    <input type="text" name="KULLANICIADI" class="form-control" placeholder="Kullanıcı Adı..." /><br />
    <input type="text" name="SIFRE" class="form-control" placeholder="Şifre..." /><br />
    <button class="btn btn-info">Kaydet</button>
</form>