@using cv.Models.Entity
@model List<TblIletisim>
<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">İletişim</h2>
        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="ADSOYAD" />
        <label>Mail</label>
        <input type="email" class="form-control" name="MAIL" />
        <label>Konu</label>
        <input type="text" class="form-control" name="KONU" />
        <label>Mesaj</label>
        <input type="text" class="form-control" name="MESAJ" /><br />
        <button class="btn btn-info">Mesaj Gönder</button>
    </form>
</div>